/* cores:
fundo: green
texto: white
cor destaque: darkgreen
*/

body {
    background-color: green;
    width: 80%;
    max-width: 1280px;
    margin: auto;
    font-family: sans-serif;
}

header {
    background-color: black;
    color: green;
}

h1 {
    font-size: 1.8rem;
    text-indent: 1em;
    display: inline;
}
h2 {
    font-size: 1.4rem;
    display: inline;
}
h3 {
    font-size: 1.2rem;
}
p {
    color: white;
    text-indent: 1em;
}
abbr {
    font-family: small-caps;
}

.intro {
    height: 550px;
}
#design-archieves {
    display: none;
}
.summary {
    text-align: right;font-size: 1.0rem;
}
.main {
    line-height: 1.5;
}
footer {
    background-color: black;
    color: green;
    padding: 4%;
}
footer > a{
    display: block;
    border: solid 2px;
    padding: 0.5em;
}

.explanation {
    width: 60%;
    margin-right: 35%;
    border-right: solid 1px #1f295c;
    padding-right: 2%;
}
.design-selection {
    float: left;
    position: absolute;
    top: 560px;
    left: 62%;
    padding: 0, 2%;
}

a {
    color: darkgreen;
    font-weight: bold;
}
a:hover {
    color: white;
}
a:visited {
    font-weight: normal;
}

li {
    border-top: solid 1px;
}
li:last-child {
    border-bottom: solid 1px;
}

.explanation >p:first-of-type:first-letter {
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}