body {
    background-color: rgb(0, 128, 0);
    color: #000000;
    width: 80%;
    height: 100%;
    font-family: sans-serif;
    margin: auto;
}
header {
    background-color: #000000;
    color: rgb(0, 128, 0);
}


h1 {
    font-size: 1.8rem;
    margin-right: 1.2em;
    display: inline;
}
h2 {
    font-size: 1.4rem;
    text-indent: 1em;
    display: inline;
}
h3 {
    font-size: 1.2rem;
    text-indent: 0.5em;
}
p {
    color: #FFFFFF;
    text-indent: 1em;
}
abbr {
    font-variant: small-caps;
}

a {
    color: rgb(0, 100, 0);
    font-weight: 700;
}
a:hover {
    color: #FFFFFF;
}
a:visited {
    font-weight: normal;
}

aside ul {
    list-style: none;
}
aside li {
    text-align: center;
    margin-bottom: 16px;
    border-top: solid 1px;
}
li:last-child {
    border-bottom: solid 1px;
}


.intro {
    height: 550px;
}

.page-wrapper {
    position: relative;
    width: 80%;
    max-width: 1280px;
    margin: 50px;
}

.summary {
    text-align: center;
    font-size: 1.0rem;
}

.main p {
    line-height: 1.5;
}
.explanation p:first-of-type:first-letter {
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}

.design-selection {
    float: left;
    position: absolute;
    top: 560px;
    left: 62%;
    padding: 0, 2%;
}
#design-archieves {
    display: none;
    position: absolute;
}

.explanation {
    width: 60%;
    margin-right: 35%;
    border-right: solid 1px #1f295c;
    padding-right: 2%;
}

.benefits {
    display: flex;
    flex-direction: row-reverse;
    border-bottom: solid 2px #1f295c;
}
.benefits h3 {
    align-self: center;
    flex: 0 0 30%;
}
.benefits p {
    flex: 0 0 70%;
}

.participation {
    display: flex;
    flex: 0 0 50%;
    flex-wrap: wrap;
    border-top: solid 2px #1f295c;
}
.participation h3 {
    align-self: center;
}

footer {
    background-color: #000000;
    color: rgb(0, 128, 0);
    margin: 24px;
    padding: 4%;
}
footer a {
    display: flex;
    border-style: solid;
    border-width: 2px;
    padding: 0.5em;
}


@media screen and (max-width: 768px) {
    #design-archives {

    }
    .explanation {  
        border-right: none;
    }
    .participation {
        flex-direction: column; 
    }
    .intro {
    
    }
    p {
        text-indent: 0;
    }
}

@media print {
    p {
        font-family: times;
    }
    header {
        background-color: rgb(0, 128, 0);
        color: #000000;
    }
}
